extends layout

block content
	h1=member?"Update information of " + member.business_name : "New Member Registration"
	section.row
		section.col-md-6
			form.form-horizontal(role='form',  parsley-validate, data-data=encodeURIComponent(JSON.stringify(member)))#new-member-form
						
				h2 Personal information
				hr
				section.form-group
					label.col-sm-3.control-label Name
					section.col-sm-9
						input.form-control(type='text', placeholder='Name', required)#personal_name
				section.form-group
					label.col-sm-3.control-label National ID No
					section.col-sm-9
						input.form-control(type='text', placeholder='National ID Number', required)#personal_id
				section.form-group
					label.col-sm-3.control-label Sex
					section.col-sm-9
						section.btn-group(data-toggle='buttons')#personal_sex
							label.btn.btn-success.active
								input(type="radio", name="personal_sex")
								| Male
							label.btn.btn-success
								input(type="radio", name="personal_sex")
								| Female
				section.form-group
					label.col-sm-3.control-label Mobile no
					section.col-sm-9
						input.form-control(type='number', placeholder='Phone no', required, parsley-minlength="7",parsley-maxlength="7")#personal_mobile
				section.form-group
					label.col-sm-3.control-label Permanent Address
					section.col-sm-9
						input.form-control(type='text', placeholder='Address', required)#personal_permanent_addr
				section.form-group
					label.col-sm-3.control-label Current Address
					section.col-sm-9
						input.form-control(type='text', placeholder='Address', required)#personal_current_addr
				section.form-group
					label.col-sm-3.control-label Email
					section.col-sm-9
						input.form-control(type='email', placeholder='Email')#personal_twitter
				section.form-group
					label.col-sm-3.control-label Twitter
					section.col-sm-9
						input.form-control(type='text', placeholder='Twitter')#personal_twitter
				section.form-group
					label.col-sm-3.control-label Facebook
					section.col-sm-9
						input.form-control(type='text', placeholder='Facebook')#personal_twitter
				h2 Roles
				hr									
				section.form-group
					label.col-sm-3.control-label Specialized constituency
					section.col-sm-9
						section.btn-group-vertical(data-toggle='buttons')#specialized_constituency
							label.btn.btn-success.active
								input(type="checkbox", name="specialized_constituency")
								| Male (T-03)
				section.form-group
					label.col-sm-3.control-label Role
					section.col-sm-9
						section.btn-group-vertical(data-toggle='buttons')#role
							label.btn.btn-success.active
								input(type="checkbox", name="role")
								| Activist
							label.btn.btn-success
								input(type="checkbox", name="role")
								| Organizer
							label.btn.btn-success
								input(type="checkbox", name="role")
								| Incharge
				section.form-group
					label.col-sm-3.control-label Appointed location
					section.col-sm-9
						section.btn-group-vertical(data-toggle='buttons')#appointed_location
							label.btn.btn-success.active
								input(type="checkbox", name="appointed_location")
								| Male' City
							label.btn.btn-success
								input(type="checkbox", name="appointed_location")
								| India
							label.btn.btn-success
								input(type="checkbox", name="appointed_location")
								| Malaysia
							label.btn.btn-success
								input(type="checkbox", name="appointed_location")
								| Sri Lanka
							label.btn.btn-success
								input(type="checkbox", name="appointed_location")
								| UK


				-if(member)
					h2 Actions
					hr									
					section.form-group
						label.col-sm-3.control-label &nbsp;
						section.col-sm-9
							button(type='button', data-id=member._id.toString()).btn.btn-default.remove-member Remove this member
				section.form-group
					section.col-sm-offset-3.col-sm-9
						button.btn.btn-info.btn-block(type='submit')=member?"Update" : "Register"
			
