extends layout

block content
	h1 Voters of Madaveli Constituency
	section.btn-group(data-toggle='buttons')#voter-constituency
		label.btn.btn-success.active
			input(type="radio", name="cons")
			| Madaveli
		label.btn.btn-success
			input(type="radio", name="cons")
			| Hoadehdhoo
		label.btn.btn-success
			input(type="radio", name="cons")
			| Nadella
	img(src="/images/load.gif")#load
	br
	br
	section.row
		section.col-md-3.col-xs-12
			input(type='text', placeholder="Search by name, id, address").form-control#voter-constituency-search
	br
	table.table.table-bordered.sortable
		thead
			tr
				th Name
				th ID
				th DOB
				th Address
				th Contact
				th Voting for
				th Remarks
		tbody#voters-listing
